In [1]:
import pandas as pd
import numpy as np

In [3]:
corona = pd.read_csv('Corona_Updated.csv')

In [4]:
corona.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0

- Null Hypothesis: Temperature doesn’t affect COV-19 Outbreak
- Alternate Hypothesis: Temperature does affect COV-19 Outbreak

Note: We are considering Temperature below 24 as Cold Climate and above 24 as Hot Climate in our dataset.

In [5]:
corona['Temp_Cat'] = corona['Temprature'].apply(lambda x : 0 if x < 24 else 1)
corona_t = corona[['Confirmed', 'Temp_Cat']]

In [6]:
corona_t

     Confirmed  Temp_Cat
0        67760         0
1        10149         0
2         8042         0
3         7513         0
4         1784         0
..         ...       ...
201          0         0
202          0         0
203          0         0
204          0         0
205          0         0

[206 rows x 2 columns]

In [9]:
corona_t[corona_t['Temp_Cat'] == 1]['Confirmed']

37     168
38     160
43     129
55      71
60      56
62      53
72      33
74      31
77      27
88      18
89      17
105     11
115      7
125      6
126      6
133      5
142      4
145      3
156      2
157      2
159      2
160      2
161      2
168      1
170      1
171      1
175      1
183      1
184      1
185      1
186      1
Name: Confirmed, dtype: int64

In [18]:
def TwoSampZ(X1, X2, sigma1, sigma2, N1, N2):
    from numpy import sqrt, abs, round
    from scipy.stats import norm
    ovr_sigma = sqrt(sigma1**2/N1 + sigma2**2/N2)
    z = (X1 - X2)/ovr_sigma
    pval = 2*(1 - norm.cdf(abs(z)))
    return z, pval

In [19]:
d1 = corona_t[(corona_t['Temp_Cat']==1)]['Confirmed']
d2 = corona_t[(corona_t['Temp_Cat']==0)]['Confirmed']

In [20]:
m1, m2 = d1.mean(), d2.mean()
sd1, sd2 = d1.std(), d2.std()
n1, n2 = d1.shape[0], d2.shape[0]

m1,m2,

(26.548387096774192, 672.9085714285715)

In [21]:
n1

31

In [22]:
t, p = TwoSampZ(m1, m2, sd1, sd2, n1, n2)
t

-1.6349753148440753

In [23]:
p

0.10205422251419871

In [24]:
t_score = np.round(t,8)
p_val = np.round(p,6)
t_score

-1.63497531

In [28]:
if (p_val<0.05):
    Hypothesis_Status = 'Reject Null Hypothesis : Temperature does affect COV-19 Outbreak'
else:
    Hypothesis_Status = 'Do not reject Null Hypothesis : Temperature doesn’t affect COV-19 Outbreak'
print(p_val)
print(Hypothesis_Status)

0.102054
Do not reject Null Hypothesis : Temperature doesn’t affect COV-19 Outbreak

Thus. we do not have evidence to reject our Null Hypothesis that temperature doesn’t affect the COV-19 outbreak. Although we cannot find the Temperature’s impact on COV-19, this problem has just been taken for the conceptual understanding of what we have learned in this article. There are certain limitations of the Z test for COVID-19 datasets: